APP_ENV=local
APP_DEBUG=true

# Database Configuration
DB_TYPE=sqlite
DB_SQLITE_FILE=database.sqlite

# MySQL Configuration (uncomment if DB_TYPE=mysql)
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_NAME=speedtest
# DB_USER=root
# DB_PASS=

# Telemetry Settings
TELEMETRY_OBFUSCATION=true
TELEMETRY_REDACT_IP=false

# ISP & GeoIP Lookup Settings
IPINFO_APIKEY=
IPINFO_OFFLINE_DB=app/Config/country_asn.mmdb
